<h2>Welcome</h2>
<p>
  Explore the latest in tech, from innovations to insights, and share your own ideas with the community.
</p>

{{#if posts}}
  {{#each posts}}
    <article>
      <div>
        <a href="/posts/{{id}}">
          <h2>{{title}}</h2>
        </a>
        <span>Posted by {{user.username}} on {{format_date createdAt}}</span>
      </div>
      <p>{{content}}</p>
    </article>
  {{/each}}
{{else}}
  <p>No posts to display.</p>
{{/if}}