<h1>{{title}}</h1>
<p>{{post.content}}</p>
{{#if author}}
  <p><a href="/dashboard/edit/{{post.id}}">Edit</a>
    |
    <button class="delete-post-btn" data-id="{{post.id}}">Delete</button></p>
{{/if}}
<div>
  <span>Posted by
    {{post.user.username}}
    on
    {{format_date post.createdAt}}</span>
</div>
<div>
  <h2>Comments</h2>
  {{#if loggedIn}}
    <form class="new-comment-form" data-postid="{{post.id}}">
      <textarea name="body" placeholder="Add a comment"></textarea>
      <button type="submit">Submit</button>
    </form>
  {{else}}
    <p><a href="/login">Log in</a> to leave a comment.</p>
  {{/if}}
  {{#if post.comments}}
    {{#each post.comments}}
      <div>
        <span>{{user.username}} commented on {{format_date createdAt}}</span>
        <p>{{body}}</p>
      </div>
    {{/each}}
  {{else}}
    <p>No comments to display.</p>
  {{/if}}
</div>
<script src="/js/comments.js"></script>